frontend:
  image: saotech/k8s_frontend
  tag: 324a649e48d07c896e54e8f109c126f095f36a56
  replicas: 1
  containerPort: 80
  servicePort: 80

ingress:
  enabled: true
  hostname: frontend.local
  servicePort: 80
  path: /


