fastapi
uvicorn

# Prometheus metrics
prometheus-fastapi-instrumentator

# OpenTelemetry core
opentelemetry-sdk
opentelemetry-exporter-otlp

# Instrumentation framework
opentelemetry-instrumentation

# Specific instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
